libigl==2.5.1
matplotlib==3.4.3
numpy==1.26.0
potpourri3d==0.0.7
robust_laplacian==0.2.4
scikit_learn==1.4.1.post1
scipy==1.13.0
torch==2.2.0
torchmetrics==0.6.0
tqdm==4.62.3
trimesh==3.9.35
wandb==0.16.6
tensorboard==2.16.2